<div class="container">
  <div class="row mt-3 mb-5">
    <div class="col-4">
       <h2 class="text-center mt-2">【詳細】<i class="fas fa-user-edit"></i></h2>
      <div class="card shadow text-center " style="width: 20rem;">
         <div class="card-body">
           <p class="card-text mb-2"><%= @word.pinyin %></p>
          <h1 class="card-title"><span><%= @word.cn_word %></span></h1>
         </div>
       </div>
       <div class="card shadow text-center mt-3" style="width: 20rem;">
         <div class="card-body">
          <h5 class="card-title">【意味】</h5>
          <p class="card-text"></p>
          <p><%= @word.jp_word %></p>
          <p></p>
      </div>
    </div>
    <% if @word.user_id == @current_user.id %>
        <div class="card shadow text-center mt-3 mb-3" style="width: 20rem; height: 6rem;">
         <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text">
              <%= link_to "編集", edit_word_path, class: 'btn btn-primary mr-5' %>
              <%= link_to "削除", word_path, method: :delete, class: "btn btn-danger "%>
          </p>
      </div>
    </div>
     <% end %>
     <div class="mt-5">
         <%= link_to "一覧ページへ戻る", words_path %>
     </div>

    </div>
    <div class="col-8 justify-content-around">
      <h2 class="text-center mt-3">【例文追加】</h2>
      <div class="card shadow text-center" style="width: 45rem;">
         <div class="card-body">
          <!--<h5 class="card-title">【例文】</h5>-->
           <div class="comment mt-1">
               <%= form_with model:[@word,@example_sentence], url: word_example_sentences_path(@word) do |f| %>
               <label>中国語：</label>
               <%= f.text_field :sentences, size: "35x1", placeholder: "你的中文說得很好" %> <br>
               <label>日本語：</label>
               <%= f.text_field :sentences_jp, size: "35x1",class: "mt-2",placeholder: "あなたは中国語を話すのが上手です" %> <br>
               <%= f.submit "例文追加", class: "btn btn-success mt-2"%> <br>
               <% end %>
           </div>
          <p class="card-text"></p>
          <p></p>
          <p></p>
       </div>
    </div>

    <% @example_sentences.each do |example_sentence| %>
     <h2 class="text-center mt-4">【例文詳細】</h2>
      <div class="card shadow text-center mt-2 mb-2" style="width: 45rem;">
         <div class="card-body">
          <!--<h5 class="card-title">【例文】</h5>-->
          <h5 class="card-text mb-3"><%= example_sentence.sentences %></h5>
          <p><%= example_sentence.sentences_jp %></p>
          <p><% if example_sentence.user_id == @current_user.id %>
              <!--パスの後に引数を入れる(投稿(アソシエーションの記述)、コメント)-->
               <%= link_to "削除", word_example_sentence_path(example_sentence.word,example_sentence), method: :delete%>
                /
              <% end %>

              <% if example_sentence.favorited_by?(current_user) %>
              <%= link_to word_example_sentence_favorites_path(example_sentence.word,example_sentence), method: :delete do %>
                <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
                    <%= example_sentence.favorites.count %>
                  <% end %>
                <% else %>
                <%= link_to word_example_sentence_favorites_path(example_sentence.word,example_sentence), method: :post do %>
                  <i class="fas fa-heart" aria-hidden="true"></i>
                  <%= example_sentence.favorites.count %>
                  <% end %>
                <% end %>
              </p>
       </div>
    </div>
     <% end %>
     <%= link_to "例文一覧ページ", word_example_sentences_path(word_id: @word.id) %>
    </div>
  </div>
</div>
