<div class="container mt-5 mb-5">
  <div class="row">
      <div class="col-xl-4 col-12">
          <div class="card card-container">
            <div class="profile-img text-center">
               <%= image_tag @user.profile_image,size:"50x50" %>
            </div>
             <h2 class="session text-center"><%= @user.name %></h2>
             <p><%= @profile&.introduction %></p>
          </div>
          <%= link_to "TOPページ", root_path, class:"btn btn-outline-secondary btn-sm"%>
      </div>
      <%= render "user/users/index",user: @user,words: @words, page: @page, example_sentences: @example_sentences, page1: @page1 %>
  </div>
</div>

