<div class="container">
  <div class="card card-container">
    <h2 class="session text-center">Sign up</h2>
    <div class="profile-img text-center">
      <%= image_tag "yaya.png", size: "150x150"%>
    </div>
<%= form_with model: @user, url: edit_user_path do |f| %>
   <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, class: "form-control mb10"%>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control mb10" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" , class: " btn btn-secondary btn-block mt-4"%>
  </div>
<% end %>

  </div>
</div>






<div class="container">
  <div class="row mt-3">
    <div class="col-4">
       <h2 class="text-center mb-2">【詳細】</h2>
      <div class="card shadow text-center " style="width: 20rem;">
         <div class="card-body">
          <h1 class="card-title"><span>【不愧】</span></h1>
          <p class="card-text">bùkuì</p>
         </div>
       </div>
       <div class="card shadow text-center mt-5" style="width: 20rem;">
         <div class="card-body">
          <h5 class="card-title">【意味】</h5>
          <p class="card-text"></p>
          <p>さすが〜だ</p>
          <p>〜に恥じない</p>
      </div>
    </div>
        <div class="card shadow text-center mt-5" style="width: 20rem; height: 5rem;">
         <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text">編集 / 削除</p>
      </div>
    </div>
    </div>
    <div class="col-8 justify-content-around mt-3">
      <h2 class="text-center">【例文】</h2>
      <div class="card shadow text-center" style="width: 45rem;">
         <div class="card-body">
          <!--<h5 class="card-title">【例文】</h5>-->
          <p class="card-text">中国語：不愧是我的兒子的！</p>
          <p>日本語：さすが私の息子だ！</p>
          <p>削除　/　編集</p>
       </div>
    </div>
      <div class="card shadow text-center mt-5" style="width: 45rem;">
         <div class="card-body">
          <!--<h5 class="card-title">【例文】</h5>-->
          <p class="card-text">中国語：不愧是我的兒子的！</p>
          <p>日本語：さすが私の息子だ！</p>
          <p>削除　/　編集</p>
       </div>
    </div>
    </div>
  </div>
</div>


