<!DOCTYPE html>
<html>
  <head>
    <title>Chaiput</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
          <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag "yaya.png", size: "90x90"%> <h3 class="ml-1">Chaiput</h3>
          <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>


            <li class="nav-item mr-5 d-flex">
               <%= render 'user/searches/form' %>
            </li>

            <li class="nav-item">
              <%= link_to 'マイページ', users_path, class: 'btn btn-outline-secondary btn-lg mr-3' %>
            </li>
            <li class="nav-item">
              <%= link_to '単語投稿', words_path , class: 'btn btn-outline-secondary btn-lg mr-3' %>
            </li>
            </li>
            <!--<li class="nav-item">-->
            <!--  <%= link_to 'ブックマーク', book_marks_path, class: 'btn btn-outline-secondary btn-lg mr-3' %>-->
            <!--</li>-->
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn btn-outline-secondary btn-lg mr-3' %>
            </li>
            <% elsif admin_signed_in? %>
             <li class="nav-item">
              <%= link_to "管理者", admins_users_path, class: 'btn btn-outline-secondary btn-lg mr-3' %>
            </li>
             <li class="nav-item">
              <%= link_to '単語投稿', words_path , class: 'btn btn-outline-secondary btn-lg mr-3' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'btn btn-outline-secondary btn-lg mr-3' %>
            </li>

            <% else %>

            <li class="nav-item">
              <%= link_to '単語投稿', words_path , class: 'btn btn-outline-secondary btn-lg mr-3' %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-outline-secondary btn-lg mr-3' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: 'btn btn-outline-secondary btn-lg mr-3' %>
            </li>

            <li class="nav-item">
              <%= link_to '（ゲスト）', users_guest_sign_in_path, class: "btn btn-secondary btn-lg btn-block mb-3 sign_in", method: :post %>
            </li>
            <% end %>
            </ul>
          </div>
      </nav>
    </header>
    <%= yield %>
 <footer class="pt-3 pb-4">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-4">

          </div>
          <div class="col-md-8">
            <h6 class="text-white mt-2 mb-3"><%= link_to "管理者ページ", admin_session_path%></h6>
            <ul class="p-0 list-unstyled">
              <li>
                <a href="" title="About" class="text-white-50">会社概要</a>
              </li>
              <li>
                <a href="" title="License informations" class="text-white-50">プライバシーポリシー</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>

