<div class="container">
  <div class="card card-container">
    <h2 class="session text-center">ユーザー情報編集</h2>
    <div class="profile-img text-center">
      <%= image_tag "yaya.png", size: "150x150"%>
    </div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>


   <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, class: "form-control mb10"%>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control mb10" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password",class: "form-control mb10" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control mb10" %>
  </div>

  <div class="actions">
    <%= f.submit "更新" , class: " btn btn-secondary btn-block mt-4"%>
  </div>
<% end %>
  </div>
</div>
